<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink=".">Forms</a></li>
        <li class="breadcrumb-item active" aria-current="page">Registrar Usuario</li>
    </ol>
</nav>

<ng-form>
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Registrar Usuario</h6>
                    <form>
                        <div class="form-group">
                            <label for="txtId">Identificación</label>
                            <input type="text" class="form-control" id="txtId" placeholder="Identificación" name="txtId" [(ngModel)]="fitUser.legalId">
                        </div>
                        <div class="form-group">
                            <label for="txtName">Nombre</label>
                            <input type="text" class="form-control" id="txtName" autocomplete="off" placeholder="Nombre" name="txtName" [(ngModel)]="fitUser.user.firstName">
                        </div>
                        <div class="form-group">
                            <label for="txtName">Apellidos</label>
                            <input type="text" class="form-control" id="txtLastName" autocomplete="off" placeholder="Apellidos" name="txtLastName" [(ngModel)]="fitUser.user.lastName">
                        </div>
                        <div class="form-group">
                            <label for="txtEmail">Correo</label>
                            <input type="email" class="form-control" id="txtEmail" placeholder="Correo" name="txtEmail" [(ngModel)]="fitUser.user.email">
                        </div>
                        <div class="form-group">
                            <label for="dtBday">Fecha de nacimiento</label>
                            <input type="date" class="form-control" id="dtBday" autocomplete="off" name="dtBday" [(ngModel)]="fitUser.bday">
                        </div>
                        <div class="form-group">
                            <label for="txtPhone">Teléfono</label>
                            <input type="text" class="form-control" id="txtPhone" autocomplete="off" placeholder="Teléfono" name="txtPhone" [(ngModel)]="fitUser.phone">
                        </div>
                        <div class="form-group">
                            <label for="txtEmergencyPhone">Teléfono de Emergencia</label>
                            <input type="text" class="form-control" id="txtEmergencyPhone" autocomplete="off" placeholder="Teléfono de Emergencia" name="txtEmergencyPhone" [(ngModel)]="fitUser.emergencyPhone">
                        </div>

                        <div class="form-check form-check-flat form-check-primary mt-0">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="chkActivated" [(ngModel)]="fitUser.user.activated">
                                <i class="input-frame"></i>
                                Activo
                            </label>
                        </div>
                        <button class="btn btn-primary mr-2" (click)="saveUser()">Agregar</button>
                        <!--<button class="btn btn-light">Cancelar</button>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</ng-form>

