.exercise-type-btn{
  display: inline-block;
  height:63px;
  width:63px;
  margin-right: 10px;
  background-position: center;
  background-repeat: no-repeat;
}

#abdomen {
  background-image: url('../../../../../assets/images/abdomen.png');
}

#antebrazo {
  background-image: url('../../../../../assets/images/antebrazo.png');
}

#biceps {
  background-image: url('../../../../../assets/images/biceps.png');
}

#cardio {
  background-image: url('../../../../../assets/images/cardio.png');
}

#espalda {
  background-image: url('../../../../../assets/images/espalda.png');
}

#gluteos {
  background-image: url('../../../../../assets/images/gluteos.png');
}

#hombros {
  background-image: url('../../../../../assets/images/hombros.png');
}

#pecho {
  background-image: url('../../../../../assets/images/pecho.png');
}

#piernas {
  background-image: url('../../../../../assets/images/piernas.png');
}

#triceps {
  background-image: url('../../../../../assets/images/triceps.png');
}





