<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="systemParameter">
            <h2><span jhiTranslate="kipfitApp.systemParameter.detail.title">System Parameter</span> {{ systemParameter.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="kipfitApp.systemParameter.gymName">Gym Name</span></dt>
                <dd>
                    <span>{{ systemParameter.gymName }}</span>
                </dd>
                <dt><span jhiTranslate="kipfitApp.systemParameter.logoPath">Logo Path</span></dt>
                <dd>
                    <span>{{ systemParameter.logoPath }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/system-parameter', systemParameter.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
