<!--<div class="row">-->
<!--    <div class="col-md-12 stretch-card">-->
<!--        <div class="card">-->
<!--            <div class="card-body">-->
                <h6 class="card-title">Sets</h6>
                <div class="table-responsive">
                    <table id="exercisesSetDataTable" #exercisesSetDataTable class="table table-hover">
                        <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Tiempo de descanso</th>
                            <th>Ejercicios</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


