<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink=".">Formularios</a></li>
        <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
    </ol>
</nav>

<form novalidate name="frmNewUser">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Registrar Usuario</h6>
                    <form>
                        <div class="table-responsive">
                            <table id="usersDataTable" class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Número de Identificación</th>
                                    <th>Nombre</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                            </table>
                        </div>
                        <!--<button class="btn btn-light">Cancelar</button>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</form>

