<div class="row grid-margin">
    <div class="col-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Planes</h6>
                <div class="table-responsive">
                    <table id="plansDataTable" class="table table-hover">
                        <thead>
                        <tr>
                            <th>Objetivo</th>
                            <th>Fecha de creación</th>
                            <th>Creador</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
