<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="subscriber">
            <h2><span jhiTranslate="kipfitApp.subscriber.detail.title">Subscriber</span> {{ subscriber.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="kipfitApp.subscriber.initialDate">Initial Date</span></dt>
                <dd>
                    <span>{{ subscriber.initialDate }}</span>
                </dd>
                <dt><span jhiTranslate="kipfitApp.subscriber.medicalConditions">Medical Conditions</span></dt>
                <dd>
                    <span>{{ subscriber.medicalConditions }}</span>
                </dd>
                <dt><span jhiTranslate="kipfitApp.subscriber.paymentFreq">Payment Freq</span></dt>
                <dd>
                    <span>{{ subscriber.paymentFreq }}</span>
                </dd>
                <dt><span jhiTranslate="kipfitApp.subscriber.subscriptionPayment">Subscription Payment</span></dt>
                <dd>
                    <div *ngIf="subscriber.subscriptionPayment">
                        <a [routerLink]="['/subscription-payment', subscriber.subscriptionPayment?.id, 'view']">{{ subscriber.subscriptionPayment?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="kipfitApp.subscriber.guidedTraining">Guided Training</span></dt>
                <dd>
                    <span *ngFor="let guidedTraining of subscriber.guidedTrainings; let last = last">
                        <a [routerLink]="['/guided-training', guidedTraining?.id, 'view']">{{ guidedTraining.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/subscriber', subscriber.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
