<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-exercises-set-heading" jhiTranslate="kipfitApp.exercisesSet.home.createOrEditLabel">Create or edit a Exercises Set</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kipfitApp.exercisesSet.type" for="field_type">Type</label>
                    <input type="number" class="form-control" name="type" id="field_type"
                           formControlName="type"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kipfitApp.exercisesSet.restTime" for="field_restTime">Rest Time</label>
                    <input type="number" class="form-control" name="restTime" id="field_restTime"
                           formControlName="restTime"/>
                </div>

                <div class="form-group">
                    <label jhiTranslate="kipfitApp.exercisesSet.exercise" for="field_exercises">Exercise</label>
                    <select class="form-control" id="field_exercises" multiple name="exercises" formControlName="exercises">
                        <option [ngValue]="getSelected(editForm.get('exercises')!.value, exerciseOption)" *ngFor="let exerciseOption of exercises; trackBy: trackById">{{ exerciseOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kipfitApp.exercisesSet.routine" for="field_routine">Routine</label>
                    <select class="form-control" id="field_routine" name="routine" formControlName="routine">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="routineOption.id === editForm.get('routine')!.value?.id ? editForm.get('routine')!.value : routineOption" *ngFor="let routineOption of routines; trackBy: trackById">{{ routineOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
