<!-- <div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Ejercicios</h6>
                <div class="table-responsive">
                    <table id="assetDataTable" class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID ejercicio</th>
                            <th>Nombre</th>
                            <th>Posición</th>
                            <th>Instrucciones</th>
                            <th>Video link</th>
                            <th></th>
                            <th>Acciones</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let exercise of exercises; let i = index" [class.active]="i == currentExercise">
                            <td>{{exercise.id}}</td>
                            <td>{{exercise.name}}</td>
                            <td>{{exercise.position}}</td>
                            <td>{{exercise.instructions}}</td>
                            <td>{{exercise.videoPath}}</td>
                            <td><a routerLink="/exercises/detailExercise/{{ exercise.id }}">Ver detalles</a></td>
                            <button
                                    type="submit"
                                    class="btn btn-secondary mr-2"
                                    routerLink="/exercises/editExercise/{{ exercise.id }}">Editar
                            </button>

                            <button type="submit"
                                    class="btn btn-primary mr-2"
                                    (click)="deleteExercise(exercise.id)">Borrar
                            </button>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
-->

<br>

<div class="row grid-margin">
    <div class="col-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Ejercicios</h6>
                <div class="table-responsive">
                    <table id="exercisesDataTable" class="table table-hover">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
