<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-exercise-type-heading" jhiTranslate="kipfitApp.exerciseType.home.createOrEditLabel">Create or edit a Exercise Type</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kipfitApp.exerciseType.typeName" for="field_typeName">Type Name</label>
                    <select class="form-control" name="typeName" formControlName="typeName" id="field_typeName">
                        <option value="SUPERIOR">{{ 'kipfitApp.ExercisesSetTypeName.SUPERIOR' | translate }}</option>
                        <option value="INFERIOR">{{ 'kipfitApp.ExercisesSetTypeName.INFERIOR' | translate }}</option>
                        <option value="NUCLEO">{{ 'kipfitApp.ExercisesSetTypeName.NUCLEO' | translate }}</option>
                        <option value="CARDIOVASCULAR">{{ 'kipfitApp.ExercisesSetTypeName.CARDIOVASCULAR' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kipfitApp.exerciseType.exercise" for="field_exercise">Exercise</label>
                    <select class="form-control" id="field_exercise" name="exercise" formControlName="exercise">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="exerciseOption.id === editForm.get('exercise')!.value?.id ? editForm.get('exercise')!.value : exerciseOption" *ngFor="let exerciseOption of exercises; trackBy: trackById">{{ exerciseOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
