#human-body-form input {
  position: absolute;
  height: 30px;
  width:60px;
}

#human-body-form{
  height:609px;
  //width:1000px;
  position: relative;
  background-image: url('../../../../../../assets/images/musclenames.png');
  background-position: center;
  background-repeat: no-repeat;
}
